@import "bootstrap/scss/functions";

$primary: #007BFF;
$success: #28A745;
$warning: #FFC107;
$danger: #DC3545;
$info: #20C997;
$light: #E3F2FD;
$dark: #6F42C1;

$body-bg: #F8F9FA;
$navbar-bg: #007BFF;

$body-color: #212529;

$btn-primary-bg: $primary;
$btn-primary-color: #fff;
$btn-primary-border-color: darken($primary, 10%);

$btn-secondary-bg: $success;
$btn-secondary-color: #fff;

@import "bootstrap/scss/bootstrap";

@import "leaflet/dist/leaflet.css";
