<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}mobility-map{% endblock %}</title>
    <link href="/assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" />
    <style>
#map { height: 400px; }
    </style>
  </head>
  <body>
    <div class="container">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        HEADER
      </header>

      <div class="container mt-4">
        {% block content %}CONTENT{% endblock %}
      </div>

      <footer class="d-flex flex-wrap justify-content-center py-3 mb-4 border-top">
        FOOTER
      </footer>

      <script src="/assets/js/mobility-map.js"></script>
  </body>
</html>
